.delete {
  display: none;
  margin-left: auto;
  margin-right: 25px;
}

.deleted {
  display: none;
}

.item:hover .delete {
  display: block;
}

.delete:hover {
  font-size: 18px;
  color: maroon;
}