.navigation {
  display: flex;
  align-items:center;
  justify-content: space-between;
}

/*logoBlock*/
.logoBlock{
  display: flex;
  align-items:center;
  margin:0 30px;
}

.logoBlock p{
  font-size:22px;
  text-transform: uppercase;
}

.logoBlock img {
  height: 60px;
  width: 80px;
}

/*toolbar*/
.tools{
  color: #737373;
  width:500px;
}

.tools ul li{
  font-size:20px;
  padding: 10px;
  margin:0 20px;
	border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
	cursor: pointer;
}

li:hover {
    cursor: pointer;
    background-color: rgba(33, 33, 33, 0.125);
}



