/*all block*/
.midleMain {
  display: flex;
  height: 50%;
}

.midleMain p {
  text-transform: uppercase;
}

/*Left bar*/
.leftbarNav {
  width: 20vw;
  margin-left: 30px;
}

.leftbarNav .item {
  display: flex;
  margin-bottom: 5px;
  width: 90%;
  border: 1px solid #737373;
  background: #FDFCFC;
  align-items: center;
}

.leftbarNav .color {
  border-radius: 50%;
  margin: 15px;
  width: 10px;
  height: 10px;
}

.leftbarNav .item:hover {
  background: whitesmoke;
  cursor: pointer;
}

/*add entity*/
.leftbarNav .addBtn {
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
  cursor: pointer;
}



.leftbarNav .addBtn:hover,
form button:hover {
  cursor: pointer;
  background-color: rgba(33, 33, 33, 0.125);
}

.leftbarNav .addBtn span {
  margin-left: 5px;
  font-weight: 400;
}

.inputBox {
  display: inline-block;
}

.inputBox input {
  color: #444444;
  font-family: 'Rufina', serif;
  padding: 4px 6px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #dbdbdb;
  border: 0px solid;
  border-radius: 10px;
  outline: none;
  width: 3vw;
}

.inputBox label {
  margin-left: 7px;
  color: #444444;
}

form button {
  background-color: transparent;
  border: 0px solid;
  color: #737373;
  font-size: 18px;
  margin-left: 12px;
  border-radius: 50%;
  padding: 5px;
  outline: none;
}


form {
  margin-top: 10px;
  height: 0;
  transition: all 1s ease;
  opacity: 0;
  visibility: hidden;
}

/*current color*/
.currColor {
  display: inline-block;
  margin-bottom: 5px;
}

.currColor div {
  transition: all 0.5s ease;
  margin-left: 5px;
  display: inline-block;
  height: 10px;
  width: 30px;
  border-radius: 10px;
}

.errorField {
  opacity: 0;
  visibility: hidden;
  height: 0;
  transition: all 1s ease;
  text-align: center;
  color: maroon;
  background: #dbdbdb;
  border-radius: 20px;
  width: 90%;
}